<div class="menu-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Menu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/fotos">
          <mat-icon>photo_library</mat-icon>
          Fotos
        </button>
        <button mat-raised-button color="accent" routerLink="/sobre">
          <mat-icon>info</mat-icon>
          Sobre
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
