<div class="about-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sobre o Projeto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Este projeto foi desenvolvido como solução para a Questão 3 da produção
        temática.
      </p>
      <p>
        Trata-se de uma aplicação Angular 16 que utiliza componentes standalone
        e signals para gerenciamento de estado. A aplicação permite visualizar,
        adicionar, editar e excluir fotos obtidas da API JSONPlaceholder.
        <br /><br />Pela falta de acesso público à biblioteca sidsc-componets,
        optei por utilizar o angular material. <br /><br />A API JSONPlaceholder
        contém dados de url de photos, mas as mesmas não estão disponíveis.
        Dessa forma não é possível visualizar as photos provenientes da API, mas
        a aplicação permite exibir ao menos os títulos dessas photos. Caso o
        usuário faça o upload de uma imagem, ela será exibida na galeria.
        <br /><br />Para não ter que criar todo um banco de dados para armazenar
        as fotos, utilizei o cache local do navegador para persistir os dados e
        simualar um crud na API.
      </p>
      <p>Tecnologias utilizadas:</p>
      <ul>
        <li>Angular 16</li>
        <li>Angular Material</li>
        <li>RxJS para manipulação de observables</li>
        <li>Cache local no navegador para persistência de dados</li>
        <li>Signals para gerenciamento de estado</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/menu">
        <mat-icon>arrow_back</mat-icon>
        Voltar para o Menu
      </button>
    </mat-card-actions>
  </mat-card>
</div>
